/*.sticky-top a:hover {background: #903900;}*/
*{
    font-family: 'Roboto', sans-serif;
}

.administrativo{
background:rgba(19,56,190,1);
}
.administrativo a:hover{
    background-color: #0c2177;
}
.solicitador{
    background:rgba(0,128,0,1);
}
.solicitador a:hover{
    background-color: #015401;
}
.derivador{
    background:rgba(211,84,0,1);
}
.derivador a:hover{
    background: #903900;
}
body{
}
#main{
    background: rgba(256,256,256,0.9);
    margin-top: 5%;
}

#solicitudes{
    display: none;
}
#adjuntos{
    display: none;
}
#registros{
    display: initial;
}
a{
    cursor: pointer;
}